# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
coverage
dist
tmp

# Node dependencies
.pnpm-store
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# VS Code
.vscode
